python-telegram-bot==20.3
pandas==2.2.2
numpy==1.26.4
Flask==3.0.3
requests==2.32.3
beautifulsoup4==4.12.3
nest_asyncio==1.6.0
selenium==4.22.0
chromedriver-autoinstaller==0.6.4
git+https://github.com/rongardF/tvdatafeed.git
